
.thumbnail{
  width: 100%;
}

.video-title{
margin-top: 0;/* we use margin top-0 to eliminate the space at the top*/
font-size: 14px;
font-weight: bold;
line-height: 20px;/*we line hieght to change space btw the lineas */
margin-bottom: 10px;
}

.profile{ /*here the profile got overflow so we adujust the profile to width 50 px to crt it */
  width: 36px;
border-radius: 50px;
}
.row{
  margin-bottom: 8px;
  position: relative;
}
.video-author,.video-stats{
  font-size: 12px;
  color: #606060;
  
}
.video-author{
  margin-bottom:4px; ;
}
.video-info-grid{
  display:grid;
  grid-template-columns: 50px 1fr;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
 
}
@media (max-width :750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:751px) and (max-width :99px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.videotime{
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  background-color: black;
  color: white;
  position:absolute;
  bottom: 8px;
  right: 5px;
  padding: 4px;
  border-radius: 2px;
}
.video-link{
  text-decoration: none;
  color: black;
}